Repository vikashkrdeveloper/SafeExec: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit, yarn audit --level moderate

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "tests/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "src/**/*.{ts,tsx}": ["tsc --noEmit"],
  "tests/**/*.{ts,tsx}": ["tsc --noEmit"],
  "package.json": ["yarn audit --level moderate"]
}

docs: simplify README for open source, remove production, highlight contributor setup
  README.md
Due: prettier --write

docs: remove production deployment info, highlight contributor setup and workflow
  README.md
Due: prettier --write

docs: remove production setup from README and highlight contributor setup
  CONTRIBUTING
  README.md
Due: prettier --write

docs: remove CONTRIBUTING file and added CONTRIBUTINGs.md
  CONTRIBUTING.md
Due: prettier --write

docs: change navigating CONTRIBUTING file to CONTRIBUTING.md
  README.md
Due: prettier --write

docs: reorganize contributor setup flow and fix git branch references
  CONTRIBUTING.md
  README.md
Due: prettier --write

docs: simplify CONTRIBUTING.md and align with README structure
  CONTRIBUTING.md
Due: prettier --write

clean: remove production details and unnecessary comments from env files
  .env.example
  README.md
  docker-compose.yml
  src/config/env.ts
  src/queue/queue.ts
  src/queue/worker.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit

feat: enhance SafeExec API with comprehensive documentation and direct code execution
  README.md
  docs/API.md
  package.json
  src/config/swagger.ts
  src/controllers/execute.controller.ts
  src/executors/secureDockerExecutor.ts
  src/middleware/auth.middleware.ts
  src/routes/execute.routes.ts
  src/routes/health.routes.ts
  src/routes/index.ts
  src/services/auth.service.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit, yarn audit --level moderate

feat: Fix C++ compilation and scale for 1000+ users
  .husky/pre-commit
  Dockerfile
  README.md
  docker-compose.yml
  docker/executors/run_cpp.sh
  docker/nginx/Dockerfile
  docker/nginx/conf.d/default.conf
  docker/nginx/nginx.conf
  docs/DOCKER.md
  docs/HIGH_PERFORMANCE.md
  package.json
  scripts/deploy-production.sh
  scripts/fix-docker-permissions.sh
  scripts/monitor-performance.sh
  src/executors/secureDockerExecutor.ts
  src/queue/queue.ts
  src/queue/worker.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit, yarn audit --level moderate

skip husky for now
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, yarn audit --level moderate

feat: enhance worker performance and add modern import syntax
  src/executors/secureDockerExecutor.ts
  src/queue/worker.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit

fix: fixed import issue in the worker service
  src/queue/worker.ts
Due: eslint --fix --max-warnings=0, prettier --write, tsc --noEmit

feat: prepare v0.0.1a2 release with project documentation
  CODE_OF_CONDUCT.md
  LICENSE
  package.json
Due: prettier --write, yarn audit --level moderate

docs: enhance README with detailed contributor setup, workflow, and troubleshooting instructions
  README.md
Due: prettier --write

Fix comment formatting in README.md
  README.md
Due: prettier --write

Fix formatting in .prettierrc file
  .prettierrc
Due: none

fix: update Dockerfile to use Eclipse Temurin JDK 17 instead of OpenJDK
  docker/executors/Dockerfile.java
Due: none

fix(hooks): remove deprecated husky shim and add package-manager fallback
  .husky/pre-commit
  .lintstagedrc.json
  scripts/run-security-audit.sh
Due: prettier --write

feat: implement automatic host port selection for Docker environment
  README.md
  package.json
  scripts/docker-up-auto-port.sh
Due: prettier --write, yarn audit --level moderate

fix(husky): keep pre-commit for lint/format/typecheck and move audit to manual command
  .lintstagedrc.json
  package.json
  scripts/run-security-audit.sh
Due: prettier --write, yarn audit --level moderate

feat(docker): add Docker Hub push automation and docs with no-rebuild default
  docs/DOCKER.md
  package.json
  scripts/push-dockerhub-images.sh
Due: prettier --write, yarn audit --level moderate
